<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Віртуальна лабораторія GIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/main.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/font-awesome.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/rainbows.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/admin.css" type="text/css" charset="utf-8">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-6 col-md-5 col-lg-4 mr-0" href="/Home/Student">Віртуальна лабораторія GIT</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Пошук" aria-label="Пошук">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/Home/Index">Вихід</a>
            </li>
        </ul>
    </nav>
    <div class="modalView box horizontal center transitionOpacityLinear inFront show">
        <div class="contentHolder box vertical center flex1">
            <div class="modalTerminal box flex1">
                <div class="terminal-window box horizontal flex3 transitionAll">
                    <div class="terminal-window-holder box flex10 vertical transitionTransform">
                        <div class="wrapper box vertical fullscreen">
                            <div class="toolbar box vertical center">
                                <div class="controls box horizontal justify">
                                    <div class="box flex1">
                                        <div class="close" onclick="window.location.href='/Tasks/Input'" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="box flex1">
                                        <div class="minimize">
                                        </div>
                                    </div>
                                    <div class="box flex1">
                                        <div class="plus">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <i class="icon-cog"></i>
                                    Ціль уровня
                                </div>
                            </div>
                            <div class="terminal-text" style=" background: #5cbcfc; padding: 0 8px; color: black; font-size: 1.5rem;height: 100%;">
                                <p class="helperText">
                                    Зроби два коміта, щоб пройти цей рівень.
                                </p>
                                <div style="text-align: center;">
                                    <svg height="484" version="1.1" width="499" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden;  opacity: 1;"><path fill="#333333" stroke="#333333" d="M250,382C250,332,250,344,250,294L242,302L258,302L250,294C250,344,250,332,250,382" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linecap: round; stroke-linejoin: round; opacity: 1;" opacity="1"></path><path fill="#333333" stroke="#333333" d="M250,258C250,208,250,220,250,170L242,178L258,178L250,170C250,220,250,208,250,258" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linecap: round; stroke-linejoin: round; opacity: 1;" opacity="1"></path><path fill="#333333" stroke="#333333" d="M250,133C250,83,250,95,250,45L242,53L258,53L250,45C250,95,250,83,250,133" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linecap: round; stroke-linejoin: round; opacity: 1;" opacity="1"></path><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><circle cx="249.5" cy="25.5" r="17" fill="#ff66d2" stroke="#ffffff" opacity="1" stroke-width="2" stroke-dasharray="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle><text x="249.5" y="25.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: bold 12px Monaco, Courier, font-monospace; opacity: 1;" font-size="12px" font-weight="bold" font-family="Monaco, Courier, font-monospace" opacity="1"><tspan dy="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">C0</tspan></text><circle cx="249.5" cy="150" r="17" fill="#ff66d2" stroke="#ffffff" opacity="1" stroke-width="2" stroke-dasharray="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle><text x="249.5" y="150" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: bold 12px Monaco, Courier, font-monospace; opacity: 1;" font-size="12px" font-weight="bold" font-family="Monaco, Courier, font-monospace" opacity="1"><tspan dy="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">C1</tspan></text><circle cx="249.5" cy="274.5" r="17" fill="#ff66d2" stroke="#ffffff" opacity="1" stroke-width="2" stroke-dasharray="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle><text x="249.5" y="274.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: bold 12px Monaco, Courier, font-monospace; opacity: 1;" font-size="12px" font-weight="bold" font-family="Monaco, Courier, font-monospace" opacity="1"><tspan dy="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">C2</tspan></text><circle cx="249.5" cy="399" r="17" fill="#ff66d2" stroke="#ffffff" opacity="1" stroke-width="2" stroke-dasharray="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle><text x="249.5" y="399" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: bold 12px Monaco, Courier, font-monospace; opacity: 1;" font-size="12px" font-weight="bold" font-family="Monaco, Courier, font-monospace" opacity="1"><tspan dy="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">C3</tspan></text><path fill="#ff66d2" stroke="#ffffff" d="M323,391L274,391L274,385L260,399L274,413L274,407L323,407Z" opacity="1" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-178.1398,219.3559)" stroke-dasharray="0" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: pointer;"></path><rect x="285.3515625" y="351" width="69.796875" height="32" r="8" rx="8" ry="8" fill="#ff66d2" stroke="#ffffff" opacity="1" stroke-dasharray="0" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; cursor: pointer;"></rect><text x="320.25" y="366" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Monaco, Courier, font-monospace; opacity: 1; cursor: pointer;" font-size="14px" font-family="Monaco, Courier, font-monospace" opacity="1"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">master*</tspan></text><path fill="#2831ff" stroke="#ffffff" d="M177,391L226,391L226,385L240,399L226,413L226,407L177,407Z" opacity="0" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-189.1502,211.749)" stroke-dasharray="0" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; cursor: auto;"></path><rect x="156.6484375" y="419" width="44.203125" height="27.6" r="8" rx="8" ry="8" fill="#2831ff" stroke="#ffffff" opacity="0" stroke-dasharray="0" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; cursor: auto;"></rect><text x="178.75" y="432" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Monaco, Courier, font-monospace; opacity: 0; cursor: auto;" font-size="14px" font-family="Monaco, Courier, font-monospace" opacity="0"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">HEAD</tspan></text></svg>
                                </div>
                            </div>
                            <div class="inside box flex1">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>